<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--    <bean id="userDao" class="com.itheima.com.itheima.dao.impl.UserDaoImpl" scope="singleton" >-->

<!--    &lt;!&ndash;    组件扫描&ndash;&gt;-->
<!--    <context:component-scan base-package="com.itheima"></context:component-scan>-->
    <!--    </bean>-->
    <!--每个dubbo应用（服务提供或者消费）都必须指定一个唯一的名称-->
    <dubbo:application name="dubboconsumer"></dubbo:application>

    <!--指定服务的注册中心-->
    <dubbo:registry address="zookeeper:/192.168.1.8:2181"></dubbo:registry>
    <!--    配置协议和端口-->

    <dubbo:annotation package="com.itheima.controller"></dubbo:annotation>
</beans>